.media-div-margin {
  margin-top: 30px;
}

.logo {
  width: 150px;
}

#abertay-logo {
  position: relative;
  bottom: 8px;
}

.logo-border {
  position: relative;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

.media-general-container {
  display: block;
  margin-left: 20px;
}

.media-elem {
  width: 700px;
  margin-left: 10px;
}

#ib-logo {
  margin-top: 12px;
}

.flag {
  height: 30px;
  width: 50px;
}

.social-media-logo {
  width: 60px;
  height: 60px;
  margin: 0px 10px;
}

#personal-pic {
  display: block;
  width: 70%;
  height: auto;
  margin: 0px auto;
}
