@import "media";
@import "contacts";
$sidebar-width: 300px;
$hamburger-bar-height: 60px;
$nav-bg-colour: rgb(189, 189, 241);

%nav-element {
  position: fixed;
  background-color: $nav-bg-colour;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  @extend %nav-element;
}

.hamburger-nav-bar {
  @extend %nav-element;
  width: 100%;
  height: $hamburger-bar-height;
  display: none;
}

#sidebar-links {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  text-align: center;
}

#social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#main-header-div {
  margin-top: 30px;
}

.page-link {
  text-decoration: none;
  font-size: 30px;
  margin: 10px 0px;
  color: rgb(111, 111, 150);
}

#container-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#content-main {
  margin-left: $sidebar-width;
}

.section-header {
  padding-top: 10px;
  font-size: 40px;
}

#about-list {
  li {
    margin-bottom: 15px;
  }
}

.information-section {
  margin-bottom: 10px;
}

.content-indent {
  margin-left: 10px;
}

.justify-txt {
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    position: relative;
    display: none;
  }
  #content-main {
    margin-left: 0px;
    margin-top: $hamburger-bar-height;
  }
  .hamburger-nav-bar {
    display: initial;
  }
}
